#contact_info{
    background-color: lightyellow;
}
#personal_info{
    background-color: rgb(247, 226, 187);
}

#interests{
    background-color: rgb(255, 213, 255);
}

p {
    color : gray;
}

th {
    text-decoration: underline;
}